@import url('https://fonts.googleapis.com/css2?family=Actor&family=Amiri:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;1,300;1,900&family=Montserrat+Alternates:ital,wght@0,400;0,600;1,300;1,600&family=Noto+Nastaliq+Urdu:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-family: 'Amiri', serif !important;
/* font-family: 'Lato', sans-serif !important; */
/* font-family: 'Montserrat Alternates', sans-serif !important; */
/* font-family: 'Noto Nastaliq Urdu', serif !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}
@media (min-width: 1400px){
  
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1080px !important;
}
}